---
import BaseLayout from '../layouts/BaseLayout.astro';
import RotatingWords from '../components/RotatingWords.astro';
const pageTitle = "Won Jung";
---
<BaseLayout pageTitle={pageTitle}>
	<h1 class="text-3xl font-bold underline">
		Hello world!
	</h1>
</BaseLayout>