---
import BaseLayout from '../layouts/BaseLayout.astro';
import RotatingWords from '../components/RotatingWords.astro';
const pageTitle = "Won Jung";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>I am a Seattle based devloper</h2>
</BaseLayout>