---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home"
---
<BaseLayout pageTitle={pageTitle}>
	<p class="mb-6 text-lg font-normal text-gray-500 text-xl dark:text-gray-400">
		Hi I am Won, I am a Software Engineer.
	</p>
	<p class="mb-6 text-lg font-normal text-gray-500 text-xl dark:text-gray-400">
		Life is full of learning opportunities. 
	</p>
	<p class="mb-6 text-lg font-normal text-gray-500 text-xl dark:text-gray-400">
		And I intend to record them here.
	</p>
</BaseLayout>
