---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Home";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Hello my name is Won Jung</h2>
  <Greeting client:load identities={["Java Developer", "Astro Developer", "Self-Taught Programmer", "Seattle Based"]} />
</BaseLayout>