---
const { title, url, description } = Astro.props
---
<li class="m-6">
    <a class="text-lg italic font-normal text-gray-500 text-xl dark:text-gray-400" href={url}>
        {title}
    </a>
    <div class="text-md m-2">
        <span class="font-bold">TL;DR:</span> {description}
    </div>
</li>