---
import '../styles/rotate.css'
---
<h1 class="rotate-body">
    <div class="wrapper">
        <div>I am</div>
        <div class="words">
            <span>Seattle based</span>
            <span>curious</span>
            <span>a Backend developer</span>
            <span>a system designer</span>
        </div>
    </div>
</div>