---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <p class="mb-3 text-lg font-normal text-gray-500 text-xl dark:text-gray-400">{frontmatter.pubDate.slice(0,10)}</p>
  <p class="mb-6 text-base italic font-normal text-gray-500 text-xl dark:text-gray-400">Written by: {frontmatter.author}</p>
  <div class="prose lg:prose-xl">
    <slot />
  </div>
  <p class="mt-5 text-lg text-xl">
    <span class="font-bold">TL;DR: </span>
    {frontmatter.description}
  </p>
</BaseLayout>